<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orangeart.domain.dao.ClassMapper">

    <sql id="base_columns">
        weekDay
        ,beginTime,endTime,subjectId,status,type,remark
    </sql>

    <insert id="insert" parameterType="com.orangeart.domain.model.ClassDO" keyProperty="id"
            useGeneratedKeys="true">
        insert into class
        (<include refid="base_columns"/>)
        values
        (
        #{weekDay,jdbcType=INTEGER},
        #{beginTime,jdbcType=TIME},
        #{endTime,jdbcType=TIME},
        #{subjectId,jdbcType=INTEGER},
        #{status,jdbcType=INTEGER},
        #{type,jdbcType=INTEGER},
        #{remark,jdbcType=VARCHAR}
        )
    </insert>


    <sql id="find_condition">
        1 = 1
        <if test="subjectId != null">
            and subjectId = #{subjectId}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="type != null">
            and type = #{type}
        </if>
    </sql>

    <select id="find" parameterType="com.orangeart.protocal.request.FindClassRequest" resultType="ClassDO">
        select
        id,<include refid="base_columns"/>,timeCreated,timeModified
        from class
        WHERE
        <include refid="find_condition"/>
        order by id DESC
        limit #{offset},#{pageSize}
    </select>

    <select id="findCount" parameterType="com.orangeart.protocal.request.FindClassRequest" resultType="int">
        select
        count(1)
        from class
        WHERE
        <include refid="find_condition"/>
    </select>

    <select id="getAll" resultType="ClassDO">
        select
        id,<include refid="base_columns"/>,timeCreated,timeModified
        from class
    </select>

    <select id="getById" parameterType="INTEGER" resultType="ClassDO">
        select
        id,<include refid="base_columns"/>,timeCreated,timeModified
        from class
        WHERE
        id = #{id}
    </select>
</mapper>
