<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orangeart.domain.dao.ClassMapper">

    <sql id="base_columns">
        weekDay
        ,beginTime,endTime,subjectId,status,remark
    </sql>

    <insert id="insert" parameterType="com.orangeart.domain.model.ClassDO" keyProperty="id"
            useGeneratedKeys="true">
        insert into class
        (<include refid="base_columns"/>)
        values
        (
        #{weekDay,jdbcType=INTEGER},
        #{beginTime,jdbcType=DATE},
        #{endTime,jdbcType=DATE},
        #{subjectId,jdbcType=INTEGER},
        #{status,jdbcType=INTEGER}),
        #{remark,jdbcType=VARCHAR}
        )
    </insert>

</mapper>
