<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orangeart.domain.dao.LessonMapper">

    <sql id="base_columns">
        studentId
        ,courseOrderId,subjectId,classId,coursewareId,studentPaintingUrl,classTime,status,type
    </sql>

    <insert id="insert" parameterType="com.orangeart.domain.model.LessonDO" keyProperty="id" useGeneratedKeys="true">
        insert into lesson
        (<include refid="base_columns"/>)
        values
        (
        #{studentId,jdbcType=INTEGER},
        #{courseOrderId,jdbcType=INTEGER},
        #{subjectId,jdbcType=INTEGER},
        #{classId,jdbcType=INTEGER},
        #{coursewareId,jdbcType=INTEGER},
        #{studentPaintingUrl,jdbcType=DATE},
        #{classTime,jdbcType=DATE},
        #{status,jdbcType=INTEGER},
        #{type,jdbcType=INTEGER}
        )
    </insert>
</mapper>
