<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orangeart.domain.dao.LessonMapper">

    <sql id="base_columns">
        studentId
        ,courseOrderId,subjectId,classId,coursewareId,studentPaintingUrl,classTime,status,type
    </sql>

    <insert id="insert" parameterType="com.orangeart.domain.model.LessonDO" keyProperty="id" useGeneratedKeys="true">
        insert into lesson
        (<include refid="base_columns"/>)
        values
        (
        #{studentId,jdbcType=INTEGER},
        #{courseOrderId,jdbcType=INTEGER},
        #{subjectId,jdbcType=INTEGER},
        #{classId,jdbcType=INTEGER},
        #{coursewareId,jdbcType=INTEGER},
        #{studentPaintingUrl,jdbcType=DATE},
        #{classTime,jdbcType=DATE},
        #{status,jdbcType=INTEGER},
        #{type,jdbcType=INTEGER}
        )
    </insert>


    <sql id="find_condition">
        1 = 1
        <if test="studentId != null">
            and studentId = #{studentId}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="timeCreatedStart != null">
            and timeCreated &gt;= #{timeCreatedStart}
        </if>
        <if test="timeCreatedEnd != null">
            and timeCreated &lt;= #{timeCreatedEnd}
        </if>
    </sql>

    <select id="find" parameterType="com.orangeart.protocal.request.FindLessonRequest" resultType="LessonDO">
        select
        id,<include refid="base_columns"/>,timeCreated,timeModified
        from lesson
        WHERE
        <include refid="find_condition"/>
        order by id DESC
        limit #{offset},#{pageSize}
    </select>

    <select id="findCount" parameterType="com.orangeart.protocal.request.FindLessonRequest" resultType="int">
        select
        count(1)
        from lesson
        WHERE
        <include refid="find_condition"/>
    </select>
</mapper>
