<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orangeart.domain.mapper.StudentMapper">
    <sql id="columns">
      id,name,birthYear
    </sql>

    <insert id="insert" parameterType="com.orangeart.domain.entity.StudentDO" keyProperty="id"
            useGeneratedKeys="true">
        insert into student
        (name)
        values
        ( #{name})
    </insert>


    <select id="list" resultType="com.orangeart.domain.entity.StudentDO">
        SELECT
        <include refid="columns"/>
        FROM
        student
    </select>


</mapper>
