<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orangeart.domain.dao.SubjectMapper">

    <sql id="base_columns">
        subjectName
    </sql>

    <insert id="insert" parameterType="com.orangeart.domain.model.SubjectDO" keyProperty="id"
            useGeneratedKeys="true">
        insert into subject
        (<include refid="base_columns"/>)
        values
        (
        #{subjectName,jdbcType=VARCHAR}
        )
    </insert>



    <select id="getAll" resultType="SubjectDO">
        select
        id,<include refid="base_columns"/>,timeCreated,timeModified
        from subject
    </select>

    <select id="getById" parameterType="INTEGER" resultType="SubjectDO">
        select
        id,<include refid="base_columns"/>,timeCreated,timeModified
        from subject
        WHERE
        id = #{id}
    </select>
</mapper>
